
.container .text-muted {
  margin: 20px 0;
}

div .list-group {
  margin-top: 20px;
}

.panel .list-group {
  margin-top: 0px;
}

.panel {
  margin-top: 15px;
}

/* Visualization CSS */
#controller {
  padding-left: 0px;
  padding-right: 0px;
}

.code-panel {
  padding: 0px 0px 0px;
}

.panel-label {
  float: right;
}
