body {
    margin: 0;
    padding: 0;
    background: #ED764D;
}
.head {
    width: 100%;
    padding: 2%;
    padding-bottom: 10%;
}
.bar {
    display: inline-block;
    text-align: center;
    color: white;
    width: 0%;
    -webkit-transition: width .3s ease-out;
    -o-transition: width .3s ease-out;
    transition: width .3s ease-out;
}
p{
    text-align: left;
    font-size: medium;
}
li{
    text-align: left;
    font-size: medium;
    font-family: serif;
}

body1 {
    background:blue;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    background-color: hsl(290,60%,70%);
}

input[type=text]:focus {
    background-color: #D6D3CF;
}
.panel-body {
background:#925375;}
x{
  background-color: #F1E9ED
}
Y{
  background-color: #D6D3CF
}
